<div class="jumbotron" >
    <h1>Postcode Data</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block" >
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Search Options</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button  ngbDropdownItem (click)="selectNone()">None</button>
              <button  ngbDropdownItem (click)="selectSearchByArea()">Search by Area</button>
              <button  ngbDropdownItem (click)="selectSearchByPostcodeString()">Search Postcode</button>
            </div>
        </div>

        <div class="input-group mt-2" *ngIf="optionValue == 'searchByArea'" >
            <input
                type="text"
                class="form-control"
                placeholder="Search by Area"
                [(ngModel)]="searchString"
            />
            <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  (click)="searchArea()"
                >
                  Search
                </button>
              </div>
        </div>
    
        <div class="input-group mt-2" *ngIf="optionValue == 'searchbyPostcodeString'">
            <input
                type="text"
                class="form-control"
                placeholder="Search Postcodes"
                [(ngModel)]="searchString"
            />
            <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  (click)="searchPostcodeString()"
                >
                  Search
                </button>
              </div>
        </div>
    </div>

    
</div>
<div class="container justify-content-center" >
    <table class="table table-striped mt-5">
        <thead>
            <tr>
                <th scope="col">Postcode</th>
                <th scope="col">Area</th>
                <th scope="col">% premises with 0-2Mb/s download</th>
                <th scope="col">% premises with 2-5Mb/s download</th>
                <th scope="col">% premises with 5-10Mb/s download</th>
                <th scope="col">% premises with 10-30Mb/s download</th>
                <th scope="col">% premises with 30-300Mb/s download</th>
                <th scope="col">% premises with over 300Mb/s download</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let postcode of postcodeService.postcodes | async |slice: (page-1) * pageSize : page * pageSize">
                <th scope="row"
                [routerLink]="['/postcodes', postcode._id]"
                style="cursor: pointer;"
                >{{ postcode["postcode_space"]}}</th>
                <th>{{ postcode["area"]}}</th>
                <th>{{ postcode["% of premises with 0&lt;2Mbit/s download speed"] }}%</th>
                <th>{{ postcode["% of premises with 2&lt;5Mbit/s download speed"] }}%</th>
                <th>{{ postcode["% of premises with 5&lt;10Mbit/s download speed"] }}%</th>
                <th>{{ postcode["% of premises with 10&lt;30Mbit/s download speed"] }}%</th>
                <th>{{ postcode["% of premises with 30&lt;300Mbit/s download speed"] }}%</th>
                <th>{{ postcode["% of premises with &gt;=300Mbit/s download speed"] }}%</th>
            </tr>
        </tbody>
    </table>
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="(postcodeService.postcodes | async).length"
      [boundaryLinks]="true"
      [maxSize]="5"
      class="d-flex justify-content-center"
      ></ngb-pagination>
</div>
